<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block titulo %}{% endblock %}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    {% load static %}
    <link href="{% static 'css/materialize.css' %}" type="text/css" rel="stylesheet" media="screen,projection"/>
    <link href="{% static 'css/style.css' %}" type="text/css" rel="stylesheet" media="screen,projection"/>
    <link href="{% static 'css/estilos.css' %}" type="text/css" rel="stylesheet"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
<!-- inicio navbar -->
<nav class="black" role="navigation">
    <div class="nav-wrapper container">
        <a id="logo-container"  href="{% url 'index.html' %}" class="brand-logo white-text">
            <span class="iconify iconColor" data-icon="mdi-penguin" data-inline="false"></span>
        </a>
        <ul class="right hide-on-med-and-down">
            <li><a class="white-text" href="{% url 'index.html' %}">Principal</a></li>
            <li><a class="white-text" href="{% url 'catalogo.html' %}">Galería</a></li>
            <li><a class="white-text" href="{% url 'quienessomos.html' %}">Nosotros</a></li>
            <li><a class="pink-text" href="{% url 'registro.html' %}">Regístrate</a></li>
            <li><a class="white-text" href="{% url 'ver_usuarios.html' %}">CRUD</a></li>
            <li>
                <a  onclick="DualFlipClassSwitch('html', 'dark', 'snow-white', 'ColorMode');">
                    <i class="material-icons iconColor">brightness_4</i>
                </a>
            </li>
        </ul>
        <!-- navbar mobile, llama al menu de hamburgesa -->
        <ul id="nav-mobile" class="sidenav red lighten-2">
            <li><a class="white-text" href="{% url 'index.html' %}">Principal</a></li>
            <li><a class="white-text" href="{% url 'catalogo.html' %}">Galería</a></li>
            <li><a class="white-text" href="{% url 'quienessomos.html' %}">Nosotros</a></li>
            <li><a class="white-text" href="{% url 'registro.html' %}">Regístrate</a></li>
            <li><a class="white-text" href="{% url 'ver_usuarios.html' %}">CRUD</a></li>
            <li>
                <a class="white-text" onclick="DualFlipClassSwitch('html', 'dark', 'snow-white', 'ColorMode');">
                    Modo Claro/Oscuro
                </a>
            </li>
        </ul>
        <a  href="{% url 'index.html' %}" data-target="nav-mobile" class="sidenav-trigger"><i
                class="material-icons iconColor">menu</i></a>
    </div>
</nav>
<!-- fin del navbar -->

<div class="container-fluid col s12 m12 l12 xl12">
    {% block contenido %}{% endblock %}
</div>

<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="{% static 'js/materialize.js' %}"></script>
<script src="{% static 'js/init.js' %}"></script>
<script src="https://code.iconify.design/1/1.0.7/iconify.min.js"></script>
<script async type="text/javascript" src="{% static 'js/darkmode.js' %}"></script>
</body>
<footer class="page-footer red lighten-2">
    <div class="container">
        <div class="row">
            <div class="col l12 s12">
                <h5 class="white-text">Redes sociales</h5>
                <div class="row">
                    <p>Síguenos en nuestras redes sociales para más información</p>

                    <a href="https://www.facebook.com/" class="fa fa-facebook "></a>
                    <a href="https://twitter.com/" class="fa fa-twitter  "></a>
                    <a href="https://www.instagram.com/" class="fa fa-instagram  "></a>

                </div>
                <div class="row">
                    <a class="white-text" href="{% url 'contacto.html' %}">Contáctanos</a>
                </div>

            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            &copy; <a class="white-text text-lighten-3">Andrés Riquelme, Roberto
            Castillo y Sebastián Sandoval.Todos los derechos reservados</a>
        </div>
    </div>
</footer>
</html>