<!DOCTYPE html>
<html lang="es">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>PinWin</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
    <link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
    <link href="css/estilos.css" type="text/css" rel="stylesheet"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
<!-- inicio navbar -->
<nav class="black" role="navigation">
    <div class="nav-wrapper container">
        <a id="logo-container" href="index.html" class="brand-logo white-text">
            <span class="iconify iconColor" data-icon="mdi-penguin" data-inline="false"></span>
        </a>
        <ul class="right hide-on-med-and-down">
            <li><a class="white-text" href="index.html">Principal</a></li>
            <li><a class="white-text" href="catalogo.html">Galería</a></li>
            <li><a class="white-text" href="quienessomos.html">Nosotros</a></li>
            <li><a class="pink-text" href="registro.html">Regístrate</a></li>
            <li>
                <a onclick="DualFlipClassSwitch('html', 'dark', 'snow-white', 'ColorMode');">
                    <i class="material-icons iconColor">brightness_4</i>
                </a>
            </li>
        </ul>
        <!-- navbar mobile, llama al menu de hamburgesa -->
        <ul id="nav-mobile" class="sidenav red lighten-2">
            <li><a class="white-text" href="index.html">Principal</a></li>
            <li><a class="white-text" href="catalogo.html">Galería</a></li>
            <li><a class="white-text" href="quienessomos.html">Nosotros</a></li>
            <li><a class="white-text" href="registro.html">Regístrate</a></li>
            <li>
                <a class="white-text" onclick="DualFlipClassSwitch('html', 'dark', 'snow-white', 'ColorMode');">
                    Modo Claro/Oscuro
                </a>
            </li>
        </ul>
        <a href="index.html" data-target="nav-mobile" class="sidenav-trigger"><i
                class="material-icons iconColor">menu</i></a>
    </div>
</nav>
<!-- fin del navbar -->

<div class="container-fluid col s12 m12 l12 xl12">
    <div class="divider"></div>
    <div class="container section">
        <h3 class="center-align">Contáctanos</h3>
        <p class="flow-text center-align">
            Porque en PinWin sabemos que tus dudas o sugerencias son importantes, comunícate con nosotros
        </p>
        <div class="container section">
            <div class="row">
                <div class="row card-panel">
                    <div class="row">
                        <form class="col s12">
                            <div class="row">
                                <div class="input-field col s12">
                                    <i class="material-icons prefix">mail</i>
                                    <input id="email" placeholder="Ingresa tu Email" type="email"
                                           class="validate" required>
                                    <label for="email">Email</label>
                                    <span class="helper-text" data-error="Email Inválido"></span>
                                </div>
                                <div class="input-field col s6">
                                    <i class="material-icons prefix">account_box</i>
                                    <input placeholder="Ingrese nombre" id="nombre" type="text"
                                           class="validate" maxlength="32"
                                           required="" aria-required="true"
                                           pattern="[A-Za-z]{3,32}">
                                    <label for="nombre">Nombre</label>
                                    <span class="helper-text" data-error="Nombre Inválido"></span>
                                </div>
                                <div class="input-field col s6">
                                    <i class="material-icons prefix">account_box</i>
                                    <input placeholder="Ingrese Apellido" id="apellido" type="text"
                                           class="validate" maxlength="32"
                                           required="" aria-required="true"
                                           pattern="[A-Za-z]{3,32}">
                                    <label for="apellido">Apellido</label>
                                    <span class="helper-text" data-error="Apellido Inválido"></span>
                                </div>
                                <div class="input-field col s12">
                                    <select id="categoria" required="" aria-required="true">
                                        <option value="1">Reclamos</option>
                                        <option value="2">Dudas</option>
                                        <option value="3">Sugerencias</option>
                                    </select>
                                    <label for="categoria">Categoría</label>
                                </div>
                                <div class="input-field col s12">
                                    <i class="material-icons prefix">create</i>
                                    <textarea id="textarea1" class="materialize-textarea validate"
                                              maxlength="300" required></textarea>
                                    <label for="textarea1">Ingrese su mensaje </label>
                                </div>
                                <br>
                                <div class="center-align">
                                    <button class="btn red lighten-2" type="Submit" id="submit">Enviar</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--  Scripts-->
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="js/materialize.js"></script>
    <script src="js/init.js"></script>
    <script src="https://code.iconify.design/1/1.0.7/iconify.min.js"></script>
    <script async type="text/javascript" src="js/darkmode.js"></script>
    <script src="js/ValidacionUtils.js"></script>
    <script>
        $('input#input_text, textarea#textarea1').characterCounter();
    </script>

    <footer class="page-footer red lighten-2">
        <div class="container">
            <div class="row">
                <div class="col l12 s12">
                    <h5 class="white-text">Redes sociales</h5>
                    <div class="row">
                        <p>Síguenos en nuestras redes sociales para más información</p>

                        <a href="https://www.facebook.com/" class="fa fa-facebook "></a>
                        <a href="https://www.instagram.com/" class="fa fa-twitter  "></a>
                        <a href="https://twitter.com/" class="fa fa-instagram  "></a>
                    </div>
                    <div class="row">
                        <a class="white-text" href="contacto.html">Contáctanos</a>
                    </div>

                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container">
                &copy; <a class="white-text text-lighten-3">Andrés Riquelme, Roberto
                Castillo y Sebastián Sandoval.Todos los derechos reservados</a>
            </div>
        </div>
    </footer>
</body>
</html>