<footer class="page-footer red lighten-2">
    <div class="container">
        <div class="row">
            <div class="col l12 s12">
                <h5 class="white-text">Redes sociales</h5>
                <div class="row">
                    <p>Síguenos en nuestras redes sociales para más información</p>

                    <a href="https://www.facebook.com/" class="fa fa-facebook "></a>
                    <a href="https://twitter.com/" class="fa fa-twitter  "></a>
                    <a href="https://www.instagram.com/" class="fa fa-instagram  "></a>

                </div>
                <div class="row">
                    <a class="white-text" href="{% url 'contacto.html' %}">Contáctanos</a>
                </div>

            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            &copy; <a class="white-text text-lighten-3">Andrés Riquelme, Roberto
            Castillo y Sebastián Sandoval.Todos los derechos reservados</a>
        </div>
    </div>
</footer>