{% extends 'base.html' %}
{% block titulo %}Pinwin - Quiénes somos{% endblock %}
{% block contenido %}
<div class="divider"></div>
<div class="container section">
    <h3 class="center-align tituloParrafo">Quiénes somos</h3>
    <div class="video-container">
        <iframe width=100% height=auto src="https://www.youtube.com/embed/lKW0a5kPiH0" frameborder="0"
                allow="autoplay; encrypted-media" allowfullscreen></iframe>
    </div>
    <p class="flow-text textoJustificado">
        PinWin nace de la necesidad de crear una comunidad que permita la relación entre creadores y fans, formando
        una red que fomente la creacion de contenido y la comunicación.
    </p>
    <p class="flow-text textoJustificado">
        En PinWin los creadores publican su contenido y permiten diferentes niveles de acceso, incluyendo el
        gratuito, para que los diferentes niveles de fans puedan disfrutar de él.
    </p>
</div>
<div class="divider"></div>
<div class="container section">
    <h3 class="center-align tituloParrafo">Filosofía de trabajo</h3>
    <p class="flow-text textoJustificado">
        Desde nuestra fundación, en marzo de 2021, hemos decidido desarrollar servicios innovadores líderes en su
        categoría que nos han ayudado a moldear a nuestro sector.
    </p>
    <p class="flow-text textoJustificado">
        Todas nuestras actividades se basan en nuestra filosofía empresarial, que está formada por nuestros 2
        pilares empresariales que son trabajo colaborativo y gestión de calidad que ayudan a alinear quién es
        PinWin.
    </p>
</div>
{% endblock %}
