{% extends 'CRUD/crud_base.html' %}
{% block titulo %}CRUD - Ver usuarios{% endblock %}
{% block cabecera %}Ver usuarios{% endblock %}
{% block contenido %}
    <div class="row right">
        <a href="{% url 'crear_usuario.html' %}" class="right btn-floating  waves-effect waves-light green"><i class="material-icons">add</i></a>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Nombre usuario</th>
                <th scope="col">Email</th>
                <th scope="col">Bio</th>
            </tr>
        </thead>
        <tbody>
            {%for user in users%}
                <tr>
                    <td>{{user.username}}</td>
                    <td>{{user.email}}</td>
                    <td>{{ user.bio }}</td>
                    <td>
                        <a href="{% url 'modificar_usuario.html'  user.username%}" class="btn-floating waves-effect waves-light">
                            <i class="material-icons">edit</i>
                        </a>
                    </td>
                    <td>
                        <a href="{% url 'eliminar_usuario'  user.username%}" class="btn-floating waves-effect waves-light red">
                            <i class="material-icons">clear</i>
                        </a>
                    </td>
                </tr>
            {%endfor%}

        </tbody>
    </table>
{% endblock %}


